{% load staticfiles %}

 <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>

<p>X axis: {{ x_axis }}</p>
<p>Y axis: {{ y_axis }}</p>
<p>Fixed table:{{ fixed.name }}</p>
<p>Fixed type: {{ fixed.type }}</p>


{% if fixed.type == 'Date' %}
    <p>Fixed start: {{ fixed.start }}</p>
    <p>Fixed end: {{ fixed.end }}</p>
{% endif %}
<p>Fixed values: {{ fixed.values }}</p>

{% include 'tablice.html' %}

{% include 'fixed_values.html' %}

<select id="x_axis">
    {% for table in tables %}
          <option value="{{ table }}">{{ table }}</option>
    {% endfor %}
</select>
<select id="y_axis">
    {% for table in tables %}
          <option value="{{ table }}">{{ table }}</option>
    {% endfor %}
</select>