<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
        <script src="{% static 'js/main_scripts.js' %}"></script>
        <script src="{% static 'js/reports.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
        <script>

        </script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-select.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

        <title></title>
    </head>
    <body>
<div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#about">SuperReports</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
        <div id="working_zone" class="inline">
        <div class="jumbotron">
            {% include 'selection_block.html' %}
            </div>
        <div class="jumbotron">
            {% include 'tablice.html' %}
            </div>
        </div>
        <div class="jumbotron">
        <div id="reports_zone">
            {% include 'reports.html' %}
        </div>
        </div>
        <br class="clearBoth" />
        </div>
    </body>
</html>