<p>X axis: {{ x_axis }}</p>
<p>Y axis: {{ y_axis }}</p>
<p>Fixed table:{{ fixed.name }}</p>
<p>Fixed type: {{ fixed.type }}</p>


{% if fixed.type == 'Date' %}
    <p>Fixed start: {{ fixed.start }}</p>
    <p>Fixed end: {{ fixed.end }}</p>
{% endif %}
<p>Fixed values: {{ fixed.values }}</p>

{% include 'tablice.html' %}

<select>
    {% for value in fixed.values %}
          <option value="{{ value.0 }}">{{ value.1 }}</option>
    {% endfor %}
</select>

<select>
    {% for table in tables %}
          <option value="{{ table }}">{{ table }}</option>
    {% endfor %}
</select>