<input  id="report_name" type="text" placeholder="report name" class="form-control" style="width: 320px; display: inline; margin-right: 20px">
<button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-floppy-open"></span> Сохранить
 </button>
<!-- <input id="save_report" type="button" value="Save"><br/> -->
</br>
</br>
<table class="table">
    <thead>
        <th>Name</th>
        <th>X</th>
        <th>Y</th>
        <th>Date</th>
        <th></th>
        <th></th>
        <th></th>
    </thead>
    <tbody id="reports">
        {% include "reports_list.html" %}
    </tbody>
</table>
