{% for report in reports %}
    <tr>
        <td class="report_id" style="display: none;">{{ report.id }}</td>
        <td>{{ report.name }}</td>
        <td>{{ report.x_axis }}</td>
        <td>{{ report.y_axis }}</td>
        <td>{{ report.updated_at }}</td>
        <td><button class="btn btn-default btn-sm overwrite_report" type="button" value="overwrite">overwrite</button></td>
        <td><button class="btn btn-default btn-sm load_report" type="button" value="load">load</button></td>
        <td><button class="btn btn-default btn-sm delete_report" type="button" value="delete">delete</button></td>
    </tr>
{% endfor %}